### Visualizing data in order to identify weak aeas to make more profits.

#### The goal is to derive business problems by exploring this data

In [7]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from scipy.stats import norm
from sklearn.preprocessing import StandardScaler
from scipy import stats
import warnings
warnings.filterwarnings('ignore')


%matplotlib inlinedata = pd.read_csv('data/SampleSuperstore.csv')

ImportError: No module named seaborn

In [2]:
data.head()

,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit
0,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.9600,2,0.00,41.9136
1,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,731.9400,3,0.00,219.5820
2,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,14.6200,2,0.00,6.8714
3,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,957.5775,5,0.45,-383.0310
4,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,22.3680,2,0.20,2.5164

In [3]:
data.describe()

        Postal Code         Sales     Quantity     Discount       Profit
count   9994.000000   9994.000000  9994.000000  9994.000000  9994.000000
mean   55190.379428    229.858001     3.789574     0.156203    28.656896
std    32063.693350    623.245101     2.225110     0.206452   234.260108
min     1040.000000      0.444000     1.000000     0.000000 -6599.978000
25%    23223.000000     17.280000     2.000000     0.000000     1.728750
50%    56430.500000     54.490000     3.000000     0.200000     8.666500
75%    90008.000000    209.940000     5.000000     0.200000    29.364000
max    99301.000000  22638.480000    14.000000     0.800000  8399.976000

#### Let's check the unique values on some of the columns in order to get some insights of the dataset.

In [4]:
print(data.columns)

Index([u'Ship Mode', u'Segment', u'Country', u'City', u'State', u'Postal Code',
       u'Region', u'Category', u'Sub-Category', u'Sales', u'Quantity',
       u'Discount', u'Profit'],
      dtype='object')

In [5]:
for a in data.columns:
    print("data[{a}]={data[a].nunique()}".format(a, data[a].nunique()))
       
#low_cardinality_cols = [cname for cname in train_X.columns if train_X[cname].nunique() < 10 and 
# 43                         train_X[cname].dtype == "object"]

# Extract data by region
south = data[data['Region'] == 'South']
west = data[data['Region'] == 'West']

KeyError: 'a'

In [6]:
data['Profit'].describe()

count    9994.000000
mean       28.656896
std       234.260108
min     -6599.978000
25%         1.728750
50%         8.666500
75%        29.364000
max      8399.976000
Name: Profit, dtype: float64